.inventory_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.title_container_text {
  font-size: 24px;
  font-variant: small-caps;
  color: #363636;
  font-weight: 700;
  text-shadow: 1px 1px rgb(255, 187, 174);
}
.list_container_text {
  font-size: 22px;
  text-decoration: none;
  font-variant: small-caps;
  color: #363636;
  font-weight: 600;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}
.list_container_text:focus,
.list_container_text:hover {
  color: rgb(255, 142, 122);
}

.invntory_product_container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
}


/* Responsive Code Start Here  */

@media only screen and (min-width: 430px) and (max-width: 468px) {
  .invntory_product_container{ grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (min-width: 469px) and (max-width: 576px) {
  .invntory_product_container{ grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (min-width: 576px) and (max-width: 768px) {
  .invntory_product_container{ grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (min-width: 768px) and (max-width: 992px) {
  .invntory_product_container{ grid-template-columns: repeat(2, 1fr);}
}
@media only screen and (min-width: 992px) and (max-width: 1192px) {
  .invntory_product_container{ grid-template-columns: repeat(2, 1fr);}
}