.submit_btn_login input[type="button"]{
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    background-color: rgb(255, 151, 132);
    color: #f0f8ff;
    font-size: 18px;
    font-variant: small-caps;
    margin-top: 30px;
}

@media only screen and (min-width: 430px) and (max-width: 668px) {
    .main_container{ width: 96%;}
    .form_container{ grid-template-columns: repeat(1, 1fr);}
}
@media only screen and (min-width: 668px) and (max-width: 992px) {
    .main_container{ width: 96%;}
    .form_container{ grid-template-columns: repeat(2, 1fr);}
}
